*.DS_Store
DS_Store
.AppleDouble
.LSOverride
.idea
*.idea
/.idea
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# CMake
cmake-build-debug/
cmake-build-debug

## Build generated
build/
DerivedData/
